option_settings:
  aws:elasticbeanstalk:application:environment: 
    BUNDLE_WITHOUT: test
    DB_USER: bloguser
    DB_NAME: blogapp
    DB_PASSWORD: blog2020
    DB_HOST: blog.cyiwlww35mq1.us-east-2.rds.amazonaws.com
    RAILS_LOG_TO_STDOUT: 1
    SECRET_KEY_BASE: 5156ca5a10c6842c4359d9a78ba14a4ba91cee9394d2e87bb783a0f770469d6afd725d40346d328b705cb2b74ef7de2005701c3449a1dbd1d1bc163ce3b67ec1
    POSTGRES_HOST_AUTH_METHOD: trust
    POSTGRES_HOST_AUTH_METHOD: trust

# Run shell commands during a deployment
container_commands:
  01_db_seed:
    command: rake db:seed